/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
.head{
    text-align: center;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    opacity: 1;
}
.head-double{
    letter-spacing: 1.05px;
    color: #333333;
    opacity: 1;
}

.bg-double{
    /* UI Properties */
    background: #005248 0% 0% no-repeat padding-box !important;
    opacity: 1;
}

.rectangle{
    letter-spacing: 0.45px;
    color: #333333;
    opacity: 1;
}



.green-text{
    color: #005248;
}

.amazing{
    text-align: left;
    letter-spacing: 0.95px;
    color: #333333;
    opacity: 1;
 }
.about{
    text-align: left;
    letter-spacing: 0.45px;
    color: #005248;
    text-transform: uppercase;
    opacity: 1;
}

.headline{
    letter-spacing: 0.95px;
    color: #005248;
    opacity: 1;
}
p{
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;
}
.headline-black{
    letter-spacing: 0.95px;
    color: #333333;
    opacity: 1;
}
.testimonial{
    letter-spacing: 0.45px;
    color: #005248;
    opacity: 1;
}
.testimonial-name{
    letter-spacing: 0.45px;
    color: #333333;
    opacity: 1;
}
.content-gray{
    background-color: #F9F7F7;
    border-radius: 30px;
}
.content-white{
    background-color: #FFFFFF;
    border-radius: 30px;
}
img.a {
    vertical-align: baseline;
}
.company-name{
    font: normal normal bold 20px/22px "Montserrat";
    letter-spacing: 1.5px;
    color: #333333;
    opacity: 1;
}
.btn-danger{
    border-color:  #F5B546;
    background-color: #F5B546 !important;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.btn-success{
    border-color:  #005248;
    background-color: #005248 !important;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

